body {
    font-size:medium;
    font-family:Arial;
    color:saddlebrown;
    background-color:blanchedalmond;
    display:grid;
    grid-template-columns:
        1fr 1fr 1fr 1fr;
    grid-template-areas:
    "header header header header"
    "main   main   .      sidebar"
    "footer footer footer sidebar";
}

#header {
    grid-area:header;
    font-family: Impact;
    color:burlywood;
    padding-left: 10px;
    padding-top:5px;
    padding-bottom:5px;
    margin-top:15px;
    margin-bottom:15px;
}

.name{
    font-size:xx-large;
}

.status{
    font-size:x-large;;
}

.title{
    font-weight:bold;
    font-size:x-large;
}

.subtitle{
    font-weight:bold;
    font-style: italic;
    font-size:large;
}

.practical{
    font-weight:normal;
    font-size:x-small;
    font-style:italic;
}

.info{
    font-weight:bold;
    font-size:smaller;
}

.content{
    font-weight:normal;
    font-size:smaller;
}

#education{
    grid-area:main;
    color:saddlebrown;
    padding-left: 10px;
    padding-top:2px;
    padding-bottom:2px;
    margin-top:5px;
    margin-bottom:5px;
}

#experience{
    grid-area:footer;
    color:sienna;
    padding-left:10px;
    padding-top:2px;
    padding-bottom:2px;
    margin-top:5px;
    margin-bottom:5px;
}

#skills{
    grid-area:sidebar;
    color:peru;
    padding-left:10px;
    padding-top:2px;
    padding-bottom:2px;
    margin-top:5px;
    margin-bottom:5px;
}

img{
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 5%;
}